@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Specialties</h1>
<button class="btn btn-success"><a href="/specialties/new">ADD NEW</a></button>
<ul>
    @foreach (var specialty in Model)
    {
    <li>@specialty.GetSpecialtyName()</li> 
     }
</ul>