@{
    ViewData["Title"] = "Home Page";
}

<h1>Salon Scheduler</h1>

<div class="container">
    <div class="homeNav">
        <h2><a class="loginLinks" href="">Book Appointment</a></h2>
    </div>
    <div class="homeNav">
        <h2><a class="loginLinks" href="/owner">Manage Stylists</a></h2>
    </div>
    <div class="homeNav">
        <h2><a class="loginLinks" href="/employee">Manage Clients</a></h2>
    </div>
</div>