
@{
}
<div class="row">
    <div class="col-sm-6">
        <h3><a href="/stylists/new">Add Stylist</a></h3>
        @foreach (var stylist in Model)
        { 
            <p> @stylist.GetFirstName() @stylist.GetLastName()</p>
        }            
    </div>
<h3><a>Add Client</a></h3>
</div>
    