
@{
}
<div class="row">
    <div class="col-sm-6">
        <h4>Clients</h4>
        <p><a href="/clients/new"> ADD NEW CLIENT</a></p>
        @foreach (var client in Model[1])
        {
        <p> @client.GetFirstName() @client.GetLastName()</p>
        }
    </div>
    <div class="col-sm-6">
        <h4>Stylists</h4>
        <p><a href="/stylists/new">ADD NEW STYLIST</a></p>
        @foreach (var stylist in Model[0])
        {
            <p> @stylist.GetFirstName() @stylist.GetLastName()</p>
        }
    </div>

</div>
